
body {
    margin: auto;
    width: 100%;
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    font-size: 1.5em;
}

.header {
    font-size: 70%;
    margin: 0 0 10pt 0;
    width: 100%;
    background-color: #ff8c00;
    padding: 15pt 0;
    font-size: 30pt;
    font-weight: bold;
    color: white;
    font-family: inherit;
}

.header h2 {
    margin: 0 6%;
    text-align: left;
}

main {
    margin: 0 auto;
    width: 90%;
    font-family: inherit;
}

.inputArea {
    flex-wrap: wrap;
    align-items: left;
    display: flex;
}

.menu {
    margin: 0 auto;
    flex: 1;
    flex-direction: column;
    padding: 15px;
}

.inputField {
    margin: 0 auto;
    flex: 2;
    display: flex;
    padding: 15px;
    flex-direction: column;
    flex-wrap: wrap;
}

textarea {
    font-family: inherit;
    display: block;
    resize: none;
    min-width: 200px;
    width: 600px;
    min-height: 180px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 5pt auto;
    width: 50%;
    height: 70%;
}

#menu {
    color: lightgray;
    font-weight: bold;
}

#inputMenu {
    color: lightgray;
    margin: auto;
    font-weight: bold;
}

#toDoAreaButton {
    margin: 10px auto;
    border: 1pt solid #ff8c00;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
}

#toDoAreaButton:hover {
    cursor: pointer;
    background-color: #ff8c00;
}

#toDoAreaButton:active {
    transform: translateY(2px);
}

#doneAreaButton {
    margin: 10px auto;
    border: 1pt solid #ff8c00;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
}

#doneAreaButton:hover {
    cursor: pointer;
    background-color: #ff8c00;
}

#doneAreaButton:active {
    transform: translateY(2px);
}

#saveButton {
    margin: 10px auto;
    border: 1pt solid lightgray;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
}

#saveButton:hover {
    cursor: pointer;
    background-color: lightgray;
}

#saveButton:active {
    transform: translateY(2px);
}

button {
    margin: 5pt;
    font-family: inherit;
    color: #ff8c00;
    background-color: white;
    border: none;
    padding: 4pt 15pt;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#test {
    margin: 5pt auto;
    min-width: 200px;
    padding: 5px;
    font-size: 13pt;
    font-weight: bold;
    color: #ff8c00;
    background-color: white;
    border: solid;
    border-width: 2pt;
    border-color: #ff8c00;
}

button:hover, #test:hover {
    color: white;
    background-color: #ff8c00;
    cursor: pointer;
}

button:active {
    transform: translateY(2px);
}

#wrapper {
    margin: 10pt auto;
    width: 100%;
    text-align: center;
    display: block;
    
}

.todoArea {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: left;
    direction: ltr;
    text-align: center;
}

.doneArea {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    direction: ltr;
    text-align: center;
}

.newDiv {
    margin:10pt;
    padding: 10pt;
    min-width: 15%;
    max-width: 100%;
    min-height: 25pt;
    text-align: center;
    background-color: #ff8c00;
    color: white;
    font-size: 15pt;
    word-break: break-all;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}  

h3 {
    font-size: 80%;
    text-align: left;
    width: 100%;
    padding: 10px;
}

p {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 15pt;
}